.navbar navbar-expand-lg navbar-light bg-light{
    background-color: white;
    

}
.navbar-brand{
background-color: white;
}
.container-fluid{
    background-color: white;
}
.navbar-brand{
    background-color: white;
}
