body {
    background-image: url("images/car.png")  ;
    background-color: #cccccc;
    text-align: center;
    font-family: 'Open Sans', sans-serif;

   }
   .btn-primary {
    color: black;
    background-color: white;
    border-color: white;
    padding-right: 20%;
    margin-top: 300px;
    text-align: center;
    padding-left: 20%;
}
.btn-primary:hover{
    background-color: white;
    color: black;
    border-color: black;
}
.btn-primary:click{
    background-color: white;
    color: black;
    border-color: black;
}
.btn btn-primary mt-2{
background-color: white;
}
.container{
    margin-top: 400px;
}


